.MuiDialog-paperWidthSm {
  max-width: 600px;

  
  flex: 1;
  // @media screen and (max-width: 992px){
    
  // }
}

.audio {
  color: white;
  background-color: black;
}
input{
  border: 2px solid rgb(15, 15, 15);
  background-color: rgb(29, 29, 29);
  color: white;

}
textarea:focus, input:focus {
  color: white;
}

input, select, textarea{
  color: white;
}
.audio1 {
  background: transparentize(rgb(255, 255, 255), 0.9);

  backdrop-filter: blur(5px);
}

.record--button {
  background: linear-gradient(-25deg, #20ffcf, black, #0a0a0a);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;

  /* #00FFB1 */
  padding: 4px 280px 0;
  border-radius: 8px;
  margin-bottom: 4px;
}
.record--button:hover {
  background: linear-gradient(-25deg, #00ffb1, #0a0a0a, #0a0a0a, #00ffb1);
}
.record--button p {
  color: white;
  font-size: 13px;
  font-weight: bold;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.record--interactionss{
  display: flex;
  border: 2px solid rgb(15, 15, 15);
  background-color: rgb(12, 12, 12);
  padding: 1px 30px 0 20px;
  border-radius: 8px;

  padding-top: 5px;
}
.record--interactionss:hover{
  border: 2px solid rgb(41, 41, 41);
}
.record--interactions{
  display: flex;
  border: 1px solid white;
  padding: 1px 14px 0 6px;
  border-radius: 8px;
  padding-top: 5px;
}
.record--interactions-{
  display: flex;
  border: 2px solid rgb(0, 0, 0);

  padding: 1px 30px 0 20px;
  border-radius: 8px;

  padding-top: 5px;
}
.record--interactions-:hover{

  background-color: rgb(12, 12, 12);
}
.wawe--recorded{
margin-left: 15%;
  width: 85%;
  padding-bottom: 20px;
}
.play--butt{
  margin-bottom: -135px;
  margin-top: 60px;
}


.target{
.post--data--user{
background-color: black;
border-radius: 12px;
width: 100%;

  img{
    width: 45px;

  }
}
}

.button--record{

}


.done-{
  
  margin: -10px 1px 5px;
  .button--done{
    display: flex;
    
    justify-content: center;
    border: 2px solid rgb(15, 15, 15);
    background-color: rgb(12, 12, 12);
    padding: 1px 30px 0 20px;
    border-radius: 8px;
 width: 549px;
 
    padding-top: 5px;
    @media screen and (max-width: 650px){
      width: 77vw;
    }
  }
}

.explore--grid{
  margin-left: 15px;
  display: flex;
  
  .post{
    margin-top: -20px;
    margin-bottom: -10px;
    width: 5vw;
    img{
      width: 40px;
  
    }
  }
}